/* global container */
body {
  width: 100%;
  height: 100%;
}

.house {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto;
  width: 400px;
  /* padding: 200px; */
}
.roof {
  width: 0;
  height: 0;
  border-left: 200px solid transparent;
  border-right: 200px solid transparent;
  border-bottom: 140px solid brown;
}
.body {
  width: 100%;
  overflow: hidden;
  background: #fffb0e;
}
.door {
  position: relative;
  top: 60px;
  margin-top: 10px;
  height: 200px;
  width: 100px;
  background: #000000;
  margin: 0 auto;
}

.door-handle {
  background: red;
  width: 40%;
  height: 50%;
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
}
.door-handle-pointer {
  background: #f5eeee;
  border-radius: 50%;
  width: 8px;
  height: 4px;
  position: relative;
  top: 30%;
  right: -70%;
  clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
}
.window {
  width: 60px;
  height: 80px;
  background-color: lightblue;
  clip-path: circle(700%);
  border: 2px dashed #fd0000;
}
.window-left {
  position: relative;
  top: 10px;
  margin-left: 10px;
  float: left;
}
.window-right {
  position: relative;
  top: 10px;
  margin-right: 10px;
  float: right;
}
